@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
h1 {
  @apply text-5xl text-yellow-200 font-literata;
}
h2 {
  @apply text-4xl text-yellow-200 font-literata;
}
h3 {
  @apply text-2xl text-white font-literata;
}

@font-face {
  font-family: "literata";
  src: url("./fonts/Literata-Italic-VariableFont_opsz,wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MiFuente2";
  src:
    url("/fonts/MiFuente2.woff2") format("woff2"),
    url("/fonts/MiFuente2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
